div.imgtable {
	text-align:center; /* 面丙大せ */
	font-weight:bold; /* 吕机に */
	background-color:#ffc; /* 秦肥咖回年 */
	border:ridge 3px #6c9 /* ボ〖ダ〖回年 */
;}
td.main {
	text-align: center;
	vertical-align: middle;
}

td.normal {
	text-align: left;
	vertical-align:middle;
	width: auto;
	height: auto;

}

td.thumb {
	text-align: center;
	vertical-align: middle;
	width: 110px;
	height: 110px;
}

p.nailreloadbtn {
	text-align:right;

}
TD.dido{
  width : 60px;
  text-align : center;
}
TD.ftp{
  width : 150px;
}
